<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoya.yidiantong">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="anton" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.PreKnowledgeActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.SubjectIndexActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.ZhentiStudyActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.ZhentiStudyQesPagerActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.NewDriverActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.TraficSignAndMarkCategoryActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.TraficSignAndMarkActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.RegisterByPhoneActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.ErrorQuestionActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.SimulationExamActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.SimluationExamResultActicity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>

        <activity
            android:name=".ui.VideoActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".ui.SettingActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>


        <activity
            android:name=".ui.VideoStudyDetailActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>
    </application>

</manifest>